body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(250, 253, 240);
    color:rgb(48, 48, 48);
}

#wrapper {
    margin: 0px;
    padding: 0px;

}

main {
    grid-area: mn;
}

aside {
    grid-area: as;
}

/* Header */
header {
    grid-area: hd;
    display: flex;
    align-items: center;
    background-color: rgb(213, 59, 24);
    height: 60px;
    width: vw;
    padding: 0px;
    margin: 0px;
    border-bottom: outset rgb(213, 59, 24);
}

#loginbutton {
    background-color: rgb(64, 224, 208);
    border: 2px rgb(39, 188, 173);
    height: 50px;
    margin: 10px;
    padding: 0 20px 0 20px;
    align-content: center;
    border-radius: 25px;
    font-size: 20px;
}

#loginbutton:hover {
    background-color: rgb(30, 197, 180);
    border: 2px rgb(3, 120, 108);
}

h1 {
    color: aliceblue;
    letter-spacing: 5px;
    font-size: 50px;
    margin: 5px;
}


/*Navigation in header*/
nav {
    display: flex;
    background-color: rgb(250, 253, 240);
    padding: 0px;
    margin: 0px 0px 0px auto;
    align-self: flex-end;
    align-items: center;
    justify-content:space-between;
    width: 400px;
    height: 60px;
    border-left: outset rgb(249, 189, 173);
}

.navbuttons {
    background-color: rgb(255 87 51);
    height: 50px;
    margin: 10px;
    padding: 0 20px 0 20px;
    align-content: center;
    border-radius: 3px;
}

/*Links*/

nav a {
    color:rgb(250, 253, 240);
    text-decoration: none;
}

nav a:hover {
    background-color:rgb(213, 59, 24)
}

nav a.active {
    background-color: rgb(181, 35, 2);
    color: white;
  }
  


/*Main on homepage*/
main.homepage{
    justify-self: center;
    justify-items: center;
    background-color: rgb(255 87 51);
    padding: 10px 20px 60px 20px;
    margin: 20px;
    height: fit-content;
    width: 500px;
    font-style: italic;
}

.searchbar{
    height: 30px;
    width: 250px;
    border-style: none;
    border-radius: 10px;
    padding: 0px 40px 0px 10px;
    font-size: 15px;
    letter-spacing: 2px;
    outline: none;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.searchbar::placeholder{
    color: rgb(123, 123, 123);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
}



/*Recipe page*/

.recipe-page{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template:
    'hd hd'
    'mn as'
}


/*Main on recipe page*/

.sort-by-box {
    background-color: rgb(250, 253, 240);
    width: 130px;
    padding: 10px;
    margin: 15px 0px 10px 10px;
    border: 1px rgb(249, 189, 173) outset;
    border-radius: 5px; 
    position: relative;
    display: inline-block;
    color:rgb(181, 35, 2);
    font-weight: bold;
}

#sort-by {
    height: 30px;
}

#recipes {
    background-color: rgb(255 87 51);
}

#recipe-section{
    display: flex;
    flex-flow: row wrap;
}

.recipe-box {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 200px;
    margin: 10px 20px 30px 20px;
    padding: 10px 10px 0px 10px;
    background-color: rgb(255, 255, 255);
    border: 5px double rgb(250, 253, 240);

}

/*Vill försöka att göra så att bilderna förstoras när man hovrar över dem och att namnet dyker upp under. 
Kan nog använda .recipe-img:hover och göra en dropdownmeny eller ngt*/

.recipe-img {
    align-self: center;
}

.recipe-rating {
    align-self: end;
    width: 80px;
    margin: 5px;
}


/*News article aside*/

#recipe-news {
    background-color: rgb(250, 253, 240);
    border-left: 3px rgb(249, 189, 173) solid;
} 

h2 {
    margin: 10px 0px 10px 20px;
    color: rgb(181, 35, 2);
}

.news-box {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    background-color: white;
    border: 1px solid rgb(123, 123, 123);
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: fit-content;
}

h3 {
    font-weight: 300;
}

.news-img {
    align-self: center;
    margin: 0px 0px 0px auto;
}

/*Staff page*/

.staff-page{
    background-color: rgb(255 87 51);
}

#staff-main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 600px;
    background-color: rgb(250, 253, 240);
    justify-content: center;
    padding: 10px auto 10px auto;
    margin: 30px;
    border: 1px rgb(249, 189, 173) inset;
}

#staff-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:rgb(181, 35, 2)
}

.staff-box {
    height: fit-content;
    width: 150px;
    margin: 20px;
    justify-items: center;
    border: 3px rgb(231, 241, 197) outset;
    background-color: white;
}

.staff-img {
    width:100px;
    margin: 10px;
}

.staff_job_title {
    color:rgb(48, 48, 48);
    font-size: 12px;
}
